# it's created so that we don't hv to hunt the variables from elsewhere and we can add the environment variables whenever we need //it's shipped with only difference that all the variables will be emptied here and we can add it whenever we need while using the application  
# this sample file has all the same content as the original .env file but they're empty so that we can add them whenever needed //many of the open source projects also have this file and it's the one that's shippped instead of our original .env file that contains all the values as well in it 

VITE_APPWRITE_URL="test environment"
# we can take the access of the env variable in different ways in different places
VITE_APPWRITE_PROJECT_ID=""
VITE_APPWRITE_DATABASE_ID=""
VITE_APPWRITE_BUCKET_ID=""
VITE_APPWRITE_COLLECTION_ID=""